/**
 * Custom stylesheet for Highr application.
 *
 * ADD - 3/3/11
*/
.container {
/*    
 *    width: 1024px;
 *
 *   margin: 1em;
 */
    padding: 1em;
}

#navigation_bar {
/*    height: 100; */
    float: left;
    border: 1px solid #ddd;
    padding: 5px;
/*    width: 195px;
    box-shadow: 0 0 2em #888;
    -moz-box-shadow: 0 0 2em #888;
    -webkit-box-shadow: 0 0 2em #888;
*/
}
#home_page_shadow {
    height: 218;
    float: left;
    padding: 10px;
    margin-left: 20px;
    margin-top: 15px;
/*    width: 195px;*/
    border: 1px solid #ddd;
    box-shadow: 0 0 2em #888;
    -moz-box-shadow: 0 0 2em #888;
    -webkit-box-shadow: 0 0 2em #888;
}

/*
 * gradient needs to be an ID and not a CLASS to show up correctly in Chrome.
 */
#gradient {
    height: 218px;
    float: left;
/*    padding: 1em;*/
    background: url(/images/Inner_Gradient.gif) 0 0 repeat-x;
/*    border: 1px solid #ddd;
    margin: 2em;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
*/
    vertical-align: middle;
/*    box-shadow: 0 0 2em #888;
    -moz-box-shadow: 0 0 2em #888;
    -webkit-box-shadow: 0 0 2em #888;
*/
}
/* Hartman Value Profile Scoring */
.hartman_scores {
    float: left;
}

.login_box {
    float: left;
    padding: 1em;
/*    width: 350px; */
/*    border: 1px solid #000; */
}

.sign_up_box {
    float: left;
    padding: 1em;
/*    width: 350px; */
}

div.field, div.actions {
    margin-bottom: 0px;
    text-align: right;
}

body {
    background: #fff;
}

header {
    padding-top: 20px;
}

header img {
    padding: lem;
    background: #fff;
}

section {
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
    background: #fff;
}

section h1 {
    font-size: 200%;
}

/* Links */

a {
    color: #09c;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}

/* Navigation */

nav {
    float: right;
}

nav {
    background-color: white;
    padding: 0 0.7em;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}

nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sign up button */

a.signup_button {
    margin-left: auto;
    margin-right: 10%;
    display: inline;
    text-align: center;
    width: 10%;
    color: #fff;
    background: #006400;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}

/* Sign in button */

a.signin_button {
    margin-left: 10%;
    margin-right: auto;
    display: inline;
    text-align: center;
    width: 190px;
    color: #fff;
    background: #006400;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}

/* Round corners */

.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Footer */

footer {
    text-align: center;
    margin-top: 10px;
    width: 710px;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    float: none;
}

/* User show page */

table.profile {
    width: 100%;
    margin-bottom: 0;
}

td.main {
    width: 70%;
    padding: 1em;
}

td.sidebar {
    width: 30%;
    padding: 1em;
    vertical-align: top;
/*    background: #ffc; */
    box-shadow: 0 0 2em #888;
    -moz-box-shadow: 0 0 2em #888;
    -webkit-box-shadow: 0 0 2em #888;
}

.profile img.gravatar {
    border: 1px solid #999;
    margin-bottom: -15px;
}

/* Error Messages */
.field_with_errors {
    margin-top: 10px;
    padding: 2px; 
    background-color: red;
/*    display: table; */
    text-align: right;
}

.field_with_errors label {
    color: #fff;
    text-align: right;
}

#error_explanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#error_explanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

/* 
 * Unordered list for users class
 * Used to list all of the users on the users/index page
 */
ul.users {
    margin-top: 1em;
}
/* 
 * List Item for users class
*/
.users li {
    list-style: none;
}

/* nice shadowed style */

.empty_state_box p {
    margin-left: 24px;
    margin-top: 3px;
    margin-bottom: 20px;
}
.empty_state_box a {
    text-decoration: none;
}
.empty_state_box h1 {
    margin-top: -15px;
}

.empty_state_box h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.empty_state_box {
    width: 480px;
    margin-left: -258px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -khtml-border-radius: 10px;
    
    box-shadow: 0 0 2em #888;
    -moz-box-shadow: 0 0 2em #888;
    -webkit-box-shadow: 0 0 2em #888;
    padding: 35px;
    margin-top: 35px;
    z-index: 2004;
    position: absolute;
    background-color: #fffeff;
    left: 50%;
    
/*
 * IE support
 *   behavior: url(/site_media/static/css/PIE.htc);
 */
}

/*
 *  Authentication 
 */

.authentications {
    margin-bottom: 30px;
}

.authentication {
    width: 130px;
    float: left;
    background-color: #EEE;
    border: solid 1px #999;
    padding: 5px 10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    position: relative;
    margin-right: 10px;
}

.authentication .remove {
    text-decoration: none;
    position: absolute;
    top: 3px;
    right: 3px;
    color: #333;
    padding: 2px 4px;
    font-size: 10px;
}

.authentication .remove:hover {
    color: #CCC;
    background-color: #777;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.authentication img {
    float: left;
    margin-right: 10px;
}

.authentication .provider {
    font-weight: bold;
}

.authentication .uid {
    color: #666;
    font-size: 11px;
}

.auth_provider img {
    display: block;
}

.auth_provider {
    float: left;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px;
}

/* 
 * Microposts
 */

h1.micropost {
    margin-bottom: 0.3em;
}

table.microposts {
    margin-top: 1em;
}

table.microposts tr {
    height: 70px;
}

table.microposts tr td.gravatar {
    border-top: 1px solid #ccc;
    vertical-align: top;
    width: 50px;
}

table.microposts tr td.micropost {
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
    display: block;
    font-size: 85%;
    color: #666;
}

div.user_info img {
    padding-right: 0.1em;
}

div.user_info a {
    text-decoration: none;
}

div.user_info span.user_name {
    position: absolute;
}

div.user_info span.microposts {
    font-size: 80%;
}

form.new_micropost {
    margin-bottom: 2em;
}

form.new_micropost textarea {
    height: 4em;
    margin-bottom: 0;
}