<h1>Edit user</h1>

<div class="container">
  <div class="sign_up_box">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/sign_up_form', :f => f %>
    <% end %>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
</div>
