<h2>All users</h2>

<%= 
    will_paginate # function looks for an @users object - because 
                  # we are in the users view - which is a Collection 
                  # of users.
%>

<ul class="users">
  <%= render @users %> 
</ul>

<% will_paginate %>
