<!-- <div id="outer-wrapper"> -->
<!-- <div class="container" > -->

<!--  <div id="inner-wrapper"> -->
    
    <!-- Product Intro -->
    <div id="top-content">	
      <!-- Nivo Sider -->
      <div id="slider-wrapper" class="clearfix"><noscript><div id="no-script"></div></noscript>	
	<div id="slider" class="nivoSlider">
	  <img src="images/landever1/nivo/image.jpg" alt="slider image"/>
	</div>			
	<div id="htmlcaption" class="nivo-html-caption"></div>				
      </div>
      <div class="clear"></div>
    </div>
    <!-- Product Intro -->
    
    <div id="main-wrapper" class="clearfix">
	<!-- Buttons -->
	<div id="main-buttons">
	  <%= render 'shared/sign_in_index' %>
	  <p><strong>Don't user these services? 
	      <%= link_to "Sign in", user_session_path %> or
	      <%= link_to "Sign up", new_user_session_path %> 
	      with a local account.
	  </strong></p>
	  
	</div>
	<!-- Buttons -->

      <!-- Main Left -->
      <div id="main-left">
	
	
	<!-- Features Boxes -->
	<div id="boxes">
	  
	  <!--Boxes-->
	  <div class="feature-boxes clearfix">				
	    <div class="box">
	      <div class="box-header">
		<img class="box-icon" src="images/landever1/presentation.jpg" alt="presentation"/>
		<h2>First Awesome Product feature</h2>
	      </div>
	      <p>Replace this Dummy content with a Nice catchy Product Feature Descriptio.Try to make it catchy.</p>
	    </div>					
	    <div class="box">
	      <div class="box-header">
		<img class="box-icon" src="images/landever1/settings.jpg" alt="settings"/>
		<h2>Second Awesome Product feature</h2>
	      </div>
	      <p>Replace this Dummy content with a Nice catchy Product Feature Descriptio.Try to make it catchy.</p>
	    </div>
	  </div>
	  <!-- Boxes -->
	  
	  <!-- Border -->
	  <div class="box-border"></div>
	  <!-- Border -->
	  
	  <!-- Boxes -->
	  <div class="feature-boxes clearfix">				
	    <div class="box">
	      <div class="box-header">
		<img class="box-icon" src="images/landever1/colorwheel.jpg" alt="colorwheel"/>
		<h2>Third Awesome Product feature</h2>
	      </div>
	      <p>Replace this Dummy content with a Nice catchy Product Feature Descriptio.Try to make it catchy.</p>
	    </div>					
	    <div class="box">
	      <div class="box-header">
		<img class="box-icon" src="images/landever1/store.jpg" alt="store"/>
		<h2>Fourth Awesome Product feature</h2>
	      </div>
	      <p>Replace this Dummy content with a Nice catchy Product Feature Descriptio.Try to make it catchy.</p>
	    </div>
	  </div>
	  <!-- Boxes -->
	  
	  
	  <div class="clear"></div>
	</div>
	<!-- Features Boxes -->
	
      </div>
      <!-- End Main Left -->
      
      
      <!-- Main Right -->
      <div id="main-right" class="clearfix">
	
	<!-- Note -->	
	<div id="note">
	  <h3>Nice Catchy stuff here</h3>
	  <p>Replace this Dummy content with a Nice catchy stuff about your product.</p>
	  <a class="g-button" href="#"><span>Get PDF!</span></a>
	</div>
	<!-- Note -->	
	
	<!-- Clients Logo Thumbnails -->
	<div id="clients">
	  
	  <div class="box-header">
	    <h2>Our awesome list of clients for this demo landing page</h2>
	  </div>
	  
	  <div id="c-thumbs">
	    <div class="c-round"></div>				
	    <img src="images/landever1/client_logo.jpg" alt="Client Logo"/>
	    <img src="images/landever1/client_logo.jpg" alt="Client Logo"/>
	    <img src="images/landever1/client_logo.jpg" alt="Client Logo"/>
	    <img src="images/landever1/client_logo.jpg" alt="Client Logo"/>
	    <img src="images/landever1/client_logo.jpg" alt="Client Logo"/>
	    <img src="images/landever1/client_logo.jpg" alt="Client Logo"/>
	    <img src="images/landever1/client_logo.jpg" alt="Client Logo"/>
	    <img src="images/landever1/client_logo.jpg" alt="Client Logo"/>
	    <img src="images/landever1/client_logo.jpg" alt="Client Logo"/>
	  </div>
	</div>
	<!-- Clients Logo Thumbnails -->
	
      </div>
      <!-- End Main Right -->
    </div>

    <!-- Product Screenshots -->
    <div id="screenshots">
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
      <a rel="s-thumbs" href="images/landever1/screenshots/screenshot.jpg" title="Screenshot Description 1">
	<img class="s-thumbs" src="images/landever1/screenshots/thumbs/thumb.jpg" alt="Prduct Thumbnail"/>
      </a>
    </div>
    <!-- Product Screenshots -->	

		
    <!-- Bottom Wrapper -->
    <div id="bottom-wrapper" class="clearfix">
      
      <ul class="left" id="nav">
	<li><a title="Subscribe to NewsLetter" id="nl-inline" href="#newsletter-form">NewsLetter</a></li>
	<li><a title="About Us" id="about-inline" href="#about-data">About</a></li>
	<li><a title="Contact" id="c-inline" href="#c-data">Contact</a></li>
      </ul>
      
      <ul class="right" id="social-nav">
	<li id="twitter">Follow us on <a title="Twitter"  href="#Twitter URL here"><b>Twitter</b></a></li>
	<li id="facebook">Follow us on <a title="Facebook" href="#Facebook URL here"><b>Facebook</b></a></li>
      </ul>
      
    </div>
    <!-- End Bottom wrapper -->
    
  </div>
  
  <!-- Shiny Footer -->
  <div id="footer-wrapper"></div>
  
  <div class="none">
    
    <!-- NewsLetter Form -->	
    <div id="newsletter-form">
      <div id="nl-head">
	<img src="images/landever1/mail.jpg" alt="mail" class="left"/>
	<h3>SUBSCRIBE</h3>
	<p>Sign up for the Newsletter to get product updates and cool offers!</p>
      </div>
      <form id="nl-form" action="" method="post">
	<input type="text" name="EMAIL" value=""/>
	<button type="submit">Subscribe Now</button>
      </form>	
    </div>
    <!-- NewsLetter Form -->	
    
    <!-- About Content -->	
    <div id="about-data" class="clearfix">
      <h2>About</h2>				
      <div id="about-content">
	<img src="images/landever1/about.jpg" alt=""/>
	<p>
	  Replace this with your own "About" content.
	</p>
	<a class="g-button" href="#"><span>Download</span></a>
      </div>
    </div>
    <!-- About Content -->	
    
    <!-- Contact Form -->	
    <div id="c-data">
      <h2>Contact</h2>				
      <div id="c-note"></div>
      <form id="ajax-contact-form" action="javascript:alert('success!');">
	<ul>
	  
	  <li>
	    <label>Name</label>
	    <input class="textbox" type="text" name="name" value=""/>
	  </li>
	  
	  <li>
	    <label>E-Mail</label>
	    <input class="textbox" type="text" name="email" value=""/>
	  </li>
	  
	  <li>
	    <label>Subject</label>
	    <input class="textbox" type="text" name="subject" value=""/>
	  </li>
	  
	  <li>
	    <label>Message</label>
	    <textarea class="textbox" name="message" cols="0" rows="0"></textarea>
	  </li>
	  
	  <li>
	    <label>&nbsp;</label>
	    <button type="submit">Send Message</button>
	  </li>
	  
	</ul>
      </form>		
    </div>
    <!-- Contact Form -->
    
<!--  </div> -->
  
<!-- </div> -->
