<% @user ||= current_user %>
<div class="stats">
  <table summary="User stats">
    <tr>
      <td>
	<a href="<%= team_mates_user_path(@user) %>">
	  <span id="team_mates" class="stat">
	    <%= pluralize(@user.team_mates.count, "team mate") %>
	  </span>
	</a>
      </td>
    </tr>
  </table>
</div>
