<h1>HighR</h1>
<p>
  This is the home page for HighR. The job search site that lets
  you match the personality of a team.
</p>

<%= link_to "Sign in", '#', :class=> "signin_button round" %>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
