  <!-- Logo and Telephone Number -->
  <div id="header-wrapper" class="clearfix">
    <h1 id="logo"><a href=""><img src="images/landever1/logo.jpg" alt="Home"/></a></h1>
    <h2 id="telephone">123-456-789</h2>
  </div>
  <!-- Logo and Telephone Number -->
  
